<section class="project-three">
    <div class="container">
        <div class="icon-container">
            <i class="fa-solid fa-arrow-left icon" [routerLink]="'/home'" ></i>
        </div>
        <div class="btn-container">
            <a class="btn" href="https://github.com/Honeyaye59/Burmese-Dream-Dictionary" target="_blank">Source Code <i class="fa-brands fa-github"></i></a>

            <a class="btn" href="https://honeyaye59.github.io/Burmese-Dream-Dictionary/" target="_blank">Live Demo</a>
        </div>
        <h1>Burmese Dream Dictionary</h1>
        <!-- <span>English version below</span> -->
        <p class="sub-title">မြန်မာ့အယူအဆ အိပ်မက် အဘိဓာန်ဖြစ်ပါတယ် မိမိမက်တဲ့အိပ်မက်ပေါ်မူတည်ပြီး အနာဂတ်မှာ ဖြစ်လာမယ့်အကြောင်းအရာတွေကို ရှာဖွေဖတ်ရှုနိုင်ပါတယ်</p>
        <p class="sub-title">Logic အတွက် Vanilla JavaScrip ကို အသုံးပြုထားပြီး Design အတွက် Pure  CSS ကို အသုံးပြုထားပါတယ်</p>
        <ul>
            <li>
                <p>
                    မြန်မာအက္ခရာလိုက် ရွေးပြီး ဖတ်လို့ရသလို ကိုယ်သိချင်တဲ့အကြောင်းအရာကို input box မှာ ထည့်ရေးပြီးလည်း ရှာနိုင်ပါတယ်
                </p>
                <div class="img-container">
                    <img src="assets/images/projectThree/1.png" alt="">
                </div>
                <div class="img-container">
                    <img src="assets/images/projectThree/2.png" alt="">
                </div>
                <div class="img-container">
                    <img src="assets/images/projectThree/3.png" alt="">
                </div>
                <hr>
            </li>
            
                <li>
                    <p>Responsive ဖြစ်လို့ မည်သည့် device နဲ့မဆိုအသုံးပြုနိုင်ပါတယ်</p>
                    <div class="img-container">
                        <img src="assets/images/projectThree/4.png" alt="">
                    </div>
                    
                </li>
            
        </ul>
    </div>
    <button (click)="scrollToTop()" class="scroll-up-btn"><i class="fa-solid fa-angle-up"></i></button>
</section>
