<section class="about">

    <h2 class="about-text">About Me</h2>
    <div class="content">
        <div class="img"><img src="assets/images/21393418.jpg" alt=""></div>
        <div class="text">
            <p>"Hey! I am Honey Aye, a full-stack web developer from NayPyiTaw, Myanmar. Ever since my school days, I have
                been fascinated by design and mathematics. However, I was unsure of how to channel my interests
                and skills. When I first discovered programming, I felt an immediate connection and I was like "this is it!
                This is for me!" I believe that people should pursue what they love. I prioritize my passion and
                interests. Outside of programming, I also enjoy reading, playing tennis, and painting. Life is
                short; don't live solely for money. Find your happiness and passion."</p>
        </div>

    </div>
    
    <a href="assets/files/Honey_Aye_Resume.pdf" download="Honey_Aye_Resume.pdf">
        <button class="download-resume btn">Download Resume</button>
      </a>

</section>
