<section class="blog">
    <h2>Blog</h2>
    <div class="container">
        <div class="item item-1">
            <div class="img-container">
                <img src="assets/images/blog1.webp" alt="">
                <h3 class="title">What is Networking and how to Network?</h3>
                <button class="btn"><a href="https://medium.com/@honeyayeinnya.98/what-is-networking-and-how-to-network-30b65ebd9211" target="_blank">Read Blog</a></button>
            </div>
            
        </div>
        <div class="item item-2">
            <div class="img-container">
                <img src="assets/images/blog2.webp" alt="">
                <h3 class="title-2">အလုပ်ရှာနေသူတစ်ယောက်အနေနဲ့ rejection ကို ဘယ်လို overcome လုပ်ရမလဲ</h3>
                <button class="btn"><a href="https://medium.com/@honeyayeinnya.98/%E1%80%A1%E1%80%9C%E1%80%AF%E1%80%95%E1%80%BA%E1%80%9B%E1%80%BE%E1%80%AC%E1%80%94%E1%80%B1%E1%80%9E%E1%80%B0%E1%80%90%E1%80%85%E1%80%BA%E1%80%9A%E1%80%B1%E1%80%AC%E1%80%80%E1%80%BA%E1%80%A1%E1%80%94%E1%80%B1%E1%80%94%E1%80%B2%E1%80%B7-rejection-%E1%80%80%E1%80%AD%E1%80%AF-%E1%80%98%E1%80%9A%E1%80%BA%E1%80%9C%E1%80%AD%E1%80%AF-overcome-%E1%80%9C%E1%80%AF%E1%80%95%E1%80%BA%E1%80%9B%E1%80%99%E1%80%9C%E1%80%B2-3f1ef85f783b" target="_blank">Read Blog</a></button>
            </div>
            
        </div>
    </div>
</section>
