<section class="intro">
    <div class="container">
        <div class="image">
            <img src="assets/images/21393418.jpg" alt="a girl standing with a smile">
        </div>
        <h1><span class="color">H</span>ON<span class="color">E</span>Y A<span class="color">Y</span>E</h1>
        <p class="intro-text">I am a full-stack developer</p>
        <ul>
            <li><a href="https://github.com/Honeyaye59" target="_blank"><i class="fa-brands fa-github icon"></i></a></li>
            <li><a href="https://www.linkedin.com/in/honey-aye-a15743250?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"><i class="fa-brands fa-linkedin icon"></i></a></li>
            <!-- <li><a href=""><i class="fa-solid fa-envelope icon"></i></a></li> -->
        </ul>
        <a href="mailto:honeyayeyu59@gmail.com" class="mailto-link">
            <button class="hire-me btn">Message Me</button>
        </a>
        
        <!-- <div class="scroll-down">
            <a href="#about">
                <span>Scroll Down</span>
                <span class="mouse">
                    <span class="wheel"></span>
                </span>
            </a>

        </div> -->
    </div>
</section>
