<section class="projects">
    <div class="container">
        <h2>Projects</h2>
        <div class="projects-container">
            <div class="project-one project-item" [routerLink]="'/project-one'">
                <div class="img-container">
                    <img src="assets/images/pOneLogo.png" alt="">
                </div>
                <h3>UNOPay</h3>
                <!-- <p class="description"></p> -->
            </div>
            <div class="project-two project-item" [routerLink]="'/project-two'">
                <div class="img-container">
                    <img src="assets/images/projectTwo/logo.jpg" alt="">
                </div>
                <h3>Incompatible Food</h3>
            </div>
            <div class="project-three project-item" [routerLink]="'/project-three'">
                <div class="img-container">
                    <img src="assets/images/projectThree/logo.png" alt="">
                </div>
                <h3>Burmese Dream Dictionary</h3>
            </div>
            <div class="project-four project-item" [routerLink]="'/project-four'">
                <div class="img-container">
                    <img src="assets/images/projectFour/1.png" alt="">
                </div>
                <h3>Task Manager</h3>
            </div>
            <div class="project-five project-item" [routerLink]="'/project-five'">
                <div class="img-container">
                    <img src="assets/images/projectFive/api.png" alt="">
                </div>
                <h3>API for Blog App</h3>
            </div>
            <div class="project-six project-item" [routerLink]="'/project-six'">
                <div class="img-container">
                    <img src="assets/images/projectSix/logo.jpg" alt="">
                </div>
                <h3>University of Yangon</h3>
            </div>
        </div>
    </div>
</section>
