<section class="project-one">
    <div class="container">
        <div class="icon-container">
            <i class="fa-solid fa-arrow-left icon" [routerLink]="'/home'" ></i>
        </div>
        <div class="btn-container">
            <a class="btn" href="https://github.com/Honeyaye59/UNOPay" target="_blank">Source Code <i class="fa-brands fa-github"></i></a>

            <a class="btn" href="https://papaya-florentine-f9a480.netlify.app/" target="_blank">Live Demo</a>
        </div>
        <h1>UNO Pay</h1>
        <!-- <span>English version below</span> -->
        <p class="sub-title">အသုံးပြုသူ တစ်ယောက်နဲ့တစ်ယောက်ကြား ပေးစရာရှိတာတွေ ရစရာရှိတာတွေကို မှတ်ပေးတဲ့ project
            တစ်ခုဖြစ်ပါတယ်။</p>

        <ul class="content">
            <li>
                အုပ်စုဖွဲ့ card game တွေဆော့တဲ့အခါမျိုးမှာ တစ်ယောက်နဲ့တစ်ယောက် ရစရာရှိတာ ပေးစရာရှိတာကို
                စာရွတ်နဲ့မှတ်တာဖြစ်ဖြစ် ဦးနှောက်နဲ့မှတ်တာဖြစ်ဖြစ် လုပ်စရာမလိုပဲ ဒီ appက တစ်ခါထဲ money to give, money to
                receive ဆိုပြီး အသုံးပြုသူတွေက တစ်ယောက်နဲ့တစ်ယောက် money transfer လုပ်လိုက်တာနဲ့ တစ်ခါတည်း
                တွက်ချက်ပေးသွားမှာ ဖြစ်ပါတယ်။
            </li>
            <li>
                Card gameတွေဆော့တဲ့အခါ ပိုပြီးfun ဖြစ်စေဖို့ ပေးရမယ့်ငွေ ရစရာရှိတာတွေကို မှတ်ရသက်သာစေဖို့ ရည်ရွယ်ပါတယ်။
            </li>
            <li>
                Card gameတွေမှာမှမဟုတ်ပဲ သူငယ်ချင်းတွေအပြင်သွားတဲ့အခါ ပိုက်ဆံပေါင်းရှင်းပြီး
                ပြီးမှပြန်တွက်ချင်တဲ့အခါမျိုးအတွက်လည်း အသုံးပြုနိုင်ပါတယ်။
            </li>
        </ul>

        <p class="sub-title">User Guide</p>
        <ul>
            <li>
                <p>Responsive ဖြစ်တဲ့အတွက် mobile မှာရော desktop မှာရော ကြိုက်တဲ့ deviceနဲ့အသုံးပြုနိုင်ပါတယ်။</p>
            </li>
            <li>
                <p>အရင်ဆုံး user အသစ်ဆို register လုပ်ရပါမယ်။
                    Username က unique ဖြစ်ရပါမယ် Displayname ကတော့ ကြိုက်ရာပေးလို့ရပါတယ် email ကလည်း unique ဖြစ်ရပါမယ်။
                    Password က character 8 လုံးရှိရပါမယ်။ အားလုံးကို ဖြည့်ပြီးမှ register လုပ်လို့ရပါမယ်။

                </p>
                <div class="img-container">
                    <img src="assets/images/projectOneRegisterPage.png" alt="">
                </div>
                <hr>
            </li>
            <li>
                <p>Register တစ်ခါလုပ်ဖူးပြီးရင်တော့ login လုပ်ရင် ရပါတယ်
                    login လုပ်ဖို့အတွက် register လုပ်ထားတဲ့ email နဲ့ password လိုအပ်ပါတယ် နှစ်ခုလုံး ကိုက်ညီမှုရှိမှ
                    app ထဲဝင်လို့ရမှာပဲဖြစ်ပါတယ်</p>
                <div class="img-container">
                    <img src="assets/images/projectOneLoginPage.png" alt="">
                </div>
                <hr>
            </li>
            <li>
                <p>ဒါကတော့ User ရဲ့ Home Page ပဲဖြစ်ပါတယ် User ရဲ့ walletထဲမှာရှိတဲ့ amount ကိုဖော်ပြထားပါတယ်
                    အစကပြန်စချင်ရင် refresh wallet ဆိုပြီး 0 ကနေပြန်စလို့ရပါတယ် currency ကိုလည်းရွေးလို့ရပါတယ်
                    ဒီထဲမှာတော့ Dollar နဲ့ Myanmar Kyat ကိုထည့်ထားပါတယ်

                </p>
                <p> Transfer ဆိုတဲ့ box လေးကိုတော့ တခြားအသုံးပြုသူတွေကို money transfer လုပ်ချင်တဲ့ အခါအသုံးပြုပါတယ်
                    Groups ကိုတော့ ကိုယ့်ရဲ့ group တွေကိုကြည့်ချင်ရင် နှိပ်လို့ရပါတယ်
                    Transfer History ကိုတော့ ကိုယ် transfer လုပ်ခဲ့တဲ့ history တွေကို ပြန်ကြည့်နိုင်ပါတယ်</p>
                <div class="img-container">
                    <img src="assets/images/pOneHomePage.png" alt="">
                </div>
                <hr>
            </li>
            <li>
                <p>Input Box မှာ ကိုယ် ပို့ချင်တဲ့သူရဲ့ username အစစာလုံးကို ရေးလိုက်တာနဲ့ သက်ဆိုင်ရာ user
                    တွေရဲ့နာမည်တွေကျလာပါလိမ့်မယ်</p>
                <p>ကိုယ်ပို့ချင်တဲ့သူရဲ့ နာမည်ကို နှိပ်ပြီး ပိုက်ဆံပမာဏ ကိုဖြည့်ပြီးရင် ပို့လို့ရပါပြီ တကယ်လို့
                    ဘာမှမဖြည့်ထားရင်တော့ transfer button ကအလုပ်လုပ်မှာမဟုတ်ပါ</p>
                <div class="img-container">
                    <img src="assets/images/pOneTransferToPage.png" alt="">
                </div>
                <hr>
            </li>
            <!-- Groups -->
            <li>
                <p>Transfer History တွေကို dateအလိုက်ရွေးပြီး filterလုပ်လို့ရပါတယ်</p>
                <div class="img-container">
                    <img src="assets\images\pOneTransferHistoryPage.png" alt="">
                </div>
                <hr>
            </li>
            <li>
                <p>ဘေးက menu bar မှာတော့ user နဲ့သက်ဆိုင်တဲ့ အချက်အလက်ရယ် app setting နဲ့ account setting ဆိုပြီး
                    ရှိပါတယ်</p>
                <div class="img-container">
                    <img src="assets\images\pOneMenuPage.png" alt="">
                </div>
                <hr>
            </li>
            <li>
                <p>Groups ကိုနှိပ်လိုက်ရင် ကိုယ့်ရဲ့ သက်ဆိုင်ရာ groupတွေကိုတွေ့နိုင်ပါတယ်
                    တစ်ခုချင်းစီနှိပ်ပြီး group detail ကိုဝင်ကြည့်လို့ရပါတယ် edit နှိပ်ပြီး group name ပြောင်းလို့ရသလို
                    members တွေကိုလည်း removeလုပ်လို့ရပါတယ်</p>

                <div class="img-container">
                    <img src="assets/images/pOneGroupsPage.png" alt="">
                </div>
                <div class="img-container">
                    <img src="assets/images/pOneEditGroupPage.png" alt="">
                </div>
                <hr>
            </li>
            <li>
                <p>Group Detail မှာဆို groupထဲမှာရှိတဲ့ တခြားmemeber တွေနဲ့ ဆက်သွယ်မှုဖြစ်တဲ့ ပေးရမယ့်ငွေ
                    ရရမယ့်ငွေတွေကို ဖော်ပြထားပါတယ် groupထဲက member တွေကို transfer လုပ်ထားတဲ့ history member တွေကနေ
                    transfer လုပ်ထားတဲ့ historyတွေကိုလည်း ဖော်ပြထားပါတယ်</p>
                <div class="img-container">
                    <img src="assets/images/pOneGroupDetailPage.png" alt="">
                </div>
                <div class="img-container">
                    <img src="assets/images/pOneGroupDetailPage2.png" alt="">
                </div>
                <hr>
            </li>
            <li>
                <p>App Setting မှာဆိုရင် Light Mode ကနေ Dark Modeပြောင်းလို့ရပါတယ် Language ကိုလည်း မြန်မာဘာသာမှ
                    အင်္ဂလိပ်ဘာသာ ပြောင်းနိုင်ပါတယ်</p>
                <div class="img-container">
                    <img src="assets/images/pOneAppSettingPage.png" alt="">
                </div>
                <hr>
            </li>
            <li>
                <p>Account Setting မှာဆိုရင် Profile Picture, Username, Displayname ပြောင်းနိုင်ပြီး Log
                    outလည်းလုပ်နိုင်ပါတယ်</p>
                <div class="img-container">
                    <img src="assets/images/pOneAccountSettingPage.png" alt="">
                </div>
                <hr>
            </li>
        </ul>
        <p class="sub-title">Developer Guide</p>
        <ul>
            <li>
                <p>Frontend framework မှာတော့ Angular ကိုအသုံးပြုထားပြီး Responsive Design အတွက် Bootstrap ကို အသုံးပြုထားပါတယ်။ UI အတွက်တော့  <a href="https://www.figma.com/file/dqSBIJ0atdAlduTv9q6ENz/UNO-Pay?type=design&node-id=0-1&mode=design&t=JjwEnTnNxxGFh9SM-0" target="_blank">figma</a> နဲ့ဆွဲထားပါတယ်။ backend အတွက် <a href="https://lucid.app/lucidchart/bbaf6ad0-5028-4503-8329-ad6f9d8d11cf/edit?viewport_loc=-1240%2C-43%2C3066%2C1371%2C0_0&invitationId=inv_3f16a9a2-3f73-40b1-b3b8-7f1db0986499" target="_blank">ERD diagram </a> ဖြစ်ပါတယ်။ဆက်ပြီးတော့ features တွေထပ်ထည့်မှာဖြစ်ပြီး Real world project အဖြစ် upgrade လုပ်သွားမှာပဲဖြစ်ပါတယ်။</p>
            </li>
        </ul>
    </div>
    <button (click)="scrollToTop()" class="scroll-up-btn"><i class="fa-solid fa-angle-up"></i></button>

</section>