/* .scroll-up-btn {
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: var(--orange-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
}
.scroll-up-btn i {
font-size: 1.2rem;
} */