<section class="project-two">
    <div class="container">
        <div class="icon-container">
            <i class="fa-solid fa-arrow-left icon" [routerLink]="'/home'" ></i>
        </div>
        <div class="btn-container">
            <a class="btn" href="https://github.com/Honeyaye59/Incompatible-Food" target="_blank">Source Code <i class="fa-brands fa-github"></i></a>

            <a class="btn" href="https://honeyaye59.github.io/Incompatible-Food/" target="_blank">Live Demo</a>
        </div>
        <h1>Incompatible Food</h1>
        <!-- <span>English version below</span> -->
        <p class="sub-title">တွဲဖက်မစားသင့်သော အစားအစာများကို ဖော်ပြပေးသော website ဖြစ်ပါတယ်။ </p>

            <ul>
                <li>
                    <p>
                        ဘယ်ဘက်မှာ အားလုံးကိုဖော်ပြထားပြီး ညာဘက်မှာတော့ filter လုပ်ပြီး ကြည့်နိုင်အောင် ရောဂါလက္ခဏာ အလိုက် linkလေးတွေရှိပါတယ်။ ညာဘက်က link တွေကိုနှိပ်ပြီး သက်ဆိုင်ရာ ရောဂါလက္ခဏာတွေကို filter လုပ်ပြီးကြည့်နိုင်ပါတယ်။
                    </p>
                    <div class="img-container">
                        <img src="assets/images/projectTwo/1.png" alt="">
                    </div>
                   <hr>
                </li>

                <li>
                    <p>
                        Pagination button တွေကို pure CSS ရယ် vanilla JavaScript နဲ့ပဲရေးထားပါတယ်။
                        <p>
                            <p>items တွေကို page အလိုက်ခွဲထားပါတယ် </p>
                            <p>
                                အရင်ဆုံး website ကိုဝင်လိုက်ရင် page one ကနေစပြီး page တစ်ခုစီမှာ items 10 ခုစီ ပြထားပါတယ် item ရှိသလောက် page တွေခွဲထားခြင်းဖြစ်ပါတယ်။
                            </p>
                            <p>
                                user page 1 ရောက်နေရင်တော့ previous button ကို disabled (နှိပ်လို့မရအောင်)  လုပ်ထားပါတယ် user ကနောက်ဆုံး page ကိုရောက်နေရင် next button ကို disabled (နှိပ်လို့မရအောင်) လုပ်ထားပါတယ်
                            </p>

                            <div class="img-container">
                                <img src="assets/images/projectTwo/2.png" alt="">
                            </div>
                         
                            <div class="img-container">
                                <img src="assets/images/projectTwo/3.png" alt="">
                            </div>
                    <hr>
                </li>
                <li>
                    <p>ညာဘက်က မူးဝေ ဆိုတဲ့ link ကိုနှိပ်လိုက်ရင် ဘယ်ဘက်မှာ မူးဝေ ရောဂါလက္ခဏာ ရှိတဲ့ items တွေပဲကျလာပါလိမ့်မယ်</p>
                    <div class="img-container">
                        <img src="assets/images/projectTwo/4.png" alt="">
                    </div>
                    <hr>
                </li>
                <li>
                    <p>
                        Pagination button တွေကို page ရှိသလောက်ပဲ ဖော်ပြပေးထားပါတယ် page 2 ခုရှိရင် button 1 နဲ့ 2 နဲ့ ပဲရှိပါမယ်
                    </p>
                    <div class="img-container">
                        <img src="assets/images/projectTwo/5.png" alt="">
                    </div>
                    <hr>
                </li>
                <li>
                    <p>Responsive ဖြစ်လို့ မည်သည့် device နဲ့မဆိုအသုံးပြုနိုင်ပါတယ်</p>
                    <div class="img-container">
                        <img src="assets/images/projectTwo/6.png" alt="">
                    </div>
                    <div class="img-container">
                        <img src="assets/images/projectTwo/7.png" alt="">
                    </div>
                </li>
            </ul>
    </div>
    <button (click)="scrollToTop()" class="scroll-up-btn"><i class="fa-solid fa-angle-up"></i></button>
</section>
