<section class="project-six">
    <div class="container">
        <div class="icon-container">
            <i class="fa-solid fa-arrow-left icon" [routerLink]="'/home'"></i>
        </div>
        <div class="btn-container">
            <a class="btn" href="https://github.com/Honeyaye59/UniversityOfYangon" target="_blank">Source Code <i class="fa-brands fa-github"></i></a>

            <a class="btn" href="https://honeyaye59.github.io/UniversityOfYangon/" target="_blank">Live Demo</a>
        </div>
        <h1>University of Yangon </h1>
        <p class="sub-title">
             Landing Page of University of Yangon
        </p>
        <p class="">
            Responsive ဖြစ်ပြီး CSS animation တွေလည်းထည့်ထားပါတယ်
        </p>
        <div class="img-container">
            <img src="assets/images/projectSix/1.png" alt="">
        </div>
        <div class="img-container">
            <img src="assets/images/projectSix/2.png" alt="">
        </div>
        <div class="img-container">
            <img src="assets/images/projectSix/3.png" alt="">
        </div>
    </div>
    <button (click)="scrollToTop()" class="scroll-up-btn"><i class="fa-solid fa-angle-up"></i></button>
</section>
