<section class="project-five">
    <div class="container">
        <div class="icon-container">
            <i class="fa-solid fa-arrow-left icon" [routerLink]="'/home'"></i>
        </div>
        <div class="btn-container">
            <a class="btn" href="https://github.com/Honeyaye59/social-media-api" target="_blank">Source Code <i class="fa-brands fa-github"></i></a>

            <a class="btn" href="https://documenter.getpostman.com/view/25890354/2s9YeK4AR8" target="_blank">Live Demo</a>
        </div>
        <h1>MyBlog API</h1>
        <p class="sub-title">
            Blog Website အတွက် api ပဲဖြစ်ပါတယ် 
        </p>
        <p class="sub-title">
            User Management နဲ့ Blog Management နှစ်ခုပါပါတယ်
        </p>
        <ul>
            <li>
                <p class="header">User Management</p>
                <ul class="inner-ul">
                    <li>
                        <span class="color-text">Get All Users:</span> Retrieve a list of all users registered in the system.
                    </li>
                    <li>
                        <span class="color-text">Signup User:</span> Allow new users to create accounts by providing essential information such as name, email, and password.
                    </li>
                    <li>
                        <span class="color-text">Login User:</span> Enable users to securely log into their accounts with their registered email and password.
                    </li>
                </ul>
            </li>
            <li>
                <p class="header">Blog Management</p>
                <ul class="inner-ul">
                    <li>
                        <span class="color-text">Get All Blogs:</span> Fetch a collection of all blogs available in the system.
                    </li>
                    <li>
                        <span class="color-text">Add New Blog:</span> Create and publish new blog posts with a title, description, image, and associated user.
                    </li>
                    <li>
                        <span class="color-text">Update Blog:</span> Modify the content of an existing blog post, keeping your audience up-to-date.
                    </li>
                    <li>
                        <span class="color-text">Get Blog:</span> Retrieve detailed information about a specific blog post.
                    </li>
                    <li>
                        <span class="color-text">Delete Blog:</span> Remove unwanted or outdated blog posts from the system.
                    </li>
                    <li>
                        <span class="color-text">Get All Blogs From User:</span> Access all blogs associated with a specific user.
                    </li>
                </ul>
            </li>
            <li>
                <p class="header">Getting Started</p>
                <ul class="inner-ul">
                    <li>
                        
To start using the MyBlog API, follow our <a href="https://documenter.getpostman.com/view/25890354/2s9YeK4AR8" target="_blank">API documentation</a>. It provides detailed information about each endpoint, including sample requests and responses.
                    </li>
                </ul>

            </li>
            <li>
               <p class="header"> Technologies Used</p>

    
    
    
    
<ul class="inner-ul">
    <li>Nodejs</li>
    <li>Express</li>
    <li>Mongodb, Mongoose</li>
    <li>RESTful API</li>
</ul>
            </li>
        </ul>
    </div>
    <button (click)="scrollToTop()" class="scroll-up-btn"><i class="fa-solid fa-angle-up"></i></button>
</section>
